@import "../../../styling/variables";


.navBarLink {
    margin: 8px;
    border: 1px solid $mainColor;
    border-radius: 15px;
    padding: 3px;
    color: $mainColor;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}