@import "../../../styling/variables";

.link {
    margin: 18rem;
    padding: 3rem;
    color: $mainColor;
    text-decoration: none;
    text-shadow: 1rem 1rem 1rem black;
    font-size: 25rem;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}
