@import "variables";
@import "mixins";
@import "mobile";

@media only screen and (min-width: 750px) {
    body {
        background-image: url($bgPic);
        background-size: 50% 100%;
        background-repeat: no-repeat;
    }

    input:hover,
    select:hover,
    button:hover,
    label:hover {
        cursor: pointer;
    }

    // navigation bar
    .navBar {
        height: 10vh;
        box-sizing: border-box;
        border: none;
        border-bottom: 1px solid $mainColor;
        justify-content: space-between;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin: 0;
    }

    // first page
    .intro {
        @include desktopSection;
        padding: 50px;
        background-color: $bgColor;
    }

    .introText {
        margin: 150px 0 0 0;
        border-bottom: 1px solid $mainColor;
        text-shadow: 1px 1px 1px $secondColor;
        color: $mainColor;
    }

    .mobileSPF {
        display: none;
    }

    .desktopSPF {
        width: 100px;
        height: 140px;
        display: inline-block;
        position: relative;
        top: 30px;
        background-image: url("../resources/product.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .introPic {
        display: none;
    }

    // sections display style
    .sectionStyle {
        @include desktopSection;
    }

    .nextButton {
        @include button;
        margin: 15px 70px;
    }

    // second page
    .choiceContainer {
        @include alignItems;
        margin: 50px 150px;
    }

    .skinTypeContainer {
        width: 20vw;
        height: 20vh;
    }

    .choicesDesign {
        width: 20vw;
        margin: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid $mainColor;
        padding: 7px;
    }

    // third page
    .locationContainer {
        @include alignItems;
        margin: 40px;
    }

    // fourth page

    .recommendedProducts {
        height: 300px;
    }

    .recommendedProducts::-webkit-scrollbar {
        display: none;
    }

    // fifth page
    .productsContainer {
        padding: 3vh 5vw;
    }

    .products::-webkit-scrollbar {
        display: none;
    }

    .productCard {
        margin: 20px;
    }

    .productCard:hover {
        font-size: 1.1em;
    }
}
