@mixin customColorInput {
    width: 40px;
    height: 40px;
    margin: 0 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

@mixin button {
    width: 200px;
    height: 30px;
    margin: 15px;
    border: 1px solid $mainColor;
    border-radius: 3px;
    background-color: $bgColor;
    text-shadow: 1px 1px 1px $secondColor;
    color: $mainColor;
    font-size: 1.25em;
}

@mixin mobileSection {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid grey;
    border-radius: 20px;
}

@mixin desktopSection {
    width: 50vw;
    height: 90vh;
    float: right;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    background-color: $bgColor;
}

@mixin alignItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin productCard {
    width: 150px;
    height: 260px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bgColor;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
