@mixin customColorInput {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
}

@mixin mobileSection {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid $mainColor;
    border-radius: 20px;
}

@mixin desktopSection {
    width: 70vw;
    height: 80vh;
    margin: 5vh 15vw;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    background-color: $bgColor;
}