@mixin customColorInput {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 50%;
}

@mixin button {
    width: 200px;
    height: 30px;
    margin: 15px;
    border: 1px solid $mainColor;
    background-color: white;
    font-size: 1.25em;
}

@mixin mobileSection {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    border: 2px solid $mainColor;
    border-radius: 20px;
}

@mixin desktopSection {
    width: 70vw;
    height: 80vh;
    margin: 5vh 15vw;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    background-color: $bgColor;
}

@mixin productCard {
    width: 150px;
    height: 260px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: white;
}

