@import "variables";
@import "mixins";
body {
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
}

// navigation bar
.navBar {
    // height: 3vh;
    width: 100vw;
    background-color: $bgColor;
}

.links {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: $bgColor;
}

.navBarLink {
    margin: 8px;
    border: 1px solid $mainColor;
    border-radius: 15px;
    padding: 3px;
    color: $mainColor;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}

// first page

.intro {
    width: 100vw;
    height: 95vh;
    margin-top: 5vh;
    box-sizing: border-box;
    border-radius: 20px;
}

.introPic {
    height: 30vh;
    margin: 0 15vw;
    border: 1px solid $mainColor;
    background-image: url($bgPic);
    background-repeat: no-repeat;
}

.introText {
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 3px $mainColor;
    color: black;
    font-size: 2em;
}

.description {
    padding: 0 10px;
    text-align: center;
    color: black;
    font-size: 1.25em;
}

.nextButton {
    @include button;
}

// sections display style
.sectionStyle {
    @include mobileSection;
}

// second page
.choice {
    box-sizing: border-box;
    padding: 0 40px;
    color: grey;
}

.bodyPartContainer {
    display: flex;
}

.face,
.body {
    margin: 0 15px;
    width: 50px;
    height: 50px;
    display: flex;
}

.skinTypeContainer {
    width: 90vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 45% 45%;
    grid-row-gap: 5%;
}

.typeOne {
    @include customColorInput;
    background-color: $typeOne;
    grid-area: 1/1/2/2;
}

.typeTwo {
    @include customColorInput;
    background-color: $typeTwo;
    grid-area: 1/2/2/3;
}

.typeThree {
    @include customColorInput;
    background-color: $typeThree;
    grid-area: 1/3/2/4;
}

.typeFour {
    @include customColorInput;
    background-color: $typeFour;
    grid-area: 2/1/3/2;
}

.typeFive {
    @include customColorInput;
    background-color: $typeFive;
    grid-area: 2/2/3/3;
}

.typeSix {
    @include customColorInput;
    background-color: $typeSix;
    grid-area: 2/3/3/4;
}

.choicesDesign {
    box-sizing: border-box;
    border-bottom: 1px solid $mainColor;
    padding: 10px;
}

// third page
.location {
    color: $mainColor;
}

.locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    width: 300px;
    height: 305px;
    margin: 10px 25px;
    box-sizing: border-box;
}

.date {
    margin: 0 25px;
    border-bottom: 1px solid $mainColor;
    border-top: 1px solid $mainColor;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#day {
    width: 200px;
    height: 25px;
}

#hours {
    width: 205px;
    height: 30px;
}

.calculateSPFBtn {
    @include button;
}

@media only screen and (min-width: 750px) {
    body {
        background-color: darkseagreen;
    }

    // navigation bar
    .navBar {
        width: 70vw;
        height: 5vh;
        margin: 0 15vw;
    }

    // first page
    .intro {
        @include desktopSection;
        padding: 50px;
        background-color: $bgColor;
    }

    .description {
        padding: 0 100px;
    }

    // sections display style
    .sectionStyle {
        @include desktopSection;
    }

    // second page
    .choice {
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .skinTypeContainer {
        width: 20vw;
        height: 20vh;
    }

    .choicesDesign {
        width: 20vw;
        margin: 5px;
        box-sizing: border-box;
        border-bottom: 1px solid $mainColor;
        padding: 7px;
    }

    .locationContainer {
        float: right;
    }
}
